
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark pricipal-color border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="">Laboratorio Clinico BIOPACIFIC</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <div class="float-right">

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <NavLink class="nav-link text-withe" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Empleado
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-withe" href="counter">
                            <span class="oi oi-person" aria-hidden="true"></span> Cliente
                        </NavLink>
                    </li>
                    <li class="nav-item mr-3">
                        <NavLink class="nav-link text-withe" href="fetchdata">
                            <span class="oi oi-beaker" aria-hidden="true"></span> Perfil
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-primarys">
                            Iniciar Sesion
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}